.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */
html, body {
  height: 100%; /* Đảm bảo chiều cao 100% cho body */
  margin: 0; /* Xóa margin mặc định */
}

.d-flex {
  display: flex; /* Sử dụng Flexbox */
}

.flex-column {
  flex-direction: column; /* Sắp xếp theo chiều dọc */
}

.flex-grow-1 {
  flex-grow: 1; /* Cho phép nội dung chiếm không gian còn lại */
}

.min-vh-100 {
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% chiều cao viewport */
}