.navbar {
  background-color: #f8f9fa; /* Màu nền sáng */
  border-bottom: 1px solid #dee2e6; /* Đường viền dưới */
}

.navbar-brand {
  font-size: 1.5rem; /* Kích thước chữ lớn hơn */
  color: #007bff; /* Màu chữ */
}

.nav-link {
  color: #495057; /* Màu chữ cho các liên kết */
  transition: color 0.3s; /* Hiệu ứng chuyển màu */
}

.nav-link:hover {
  color: #007bff; /* Màu chữ khi hover */
}

.btn {
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu cho nút */
}

.btn-primary:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

.btn-success:hover {
  background-color: #28a745; /* Màu nền khi hover */
}